.logo-img{
    width: 40%
    
}
.logo-p{
    text-align: center;
}
.navbar{
    background-color: white;
}
.span-nav{
    color: #ad1125;
    font-weight: bold;
}
footer{
    background-color:#ad1125 ;
    color: white;
    text-align: center;
    border-radius: 7px 7px 0px 0px;
    margin-top: 30px;
}
.footer-a{
    color: white;
}


.p-logo{
    width: 30%;
}
.p{
    text-align: center;
}
.vasyl-kit{
    font-weight: bold;
    color: #b11b1c;
}
.rec{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 4vw;
    margin-left: 20px;
}
.price{
    color:red;
    font-weight: bold;
    
}

.tel{
    text-align: center;
}
.tel-div1{
    margin-top: 20px;
    
}

.page-navigation{
    text-align: center;
    
}

.basket-label{
    color: red;
    font-weight: bold;
   white-space: nowrap;
   font-size: 20px;
  
   display: inline;
}

/* #basketPhoto{
    width: 30px;
} */

