.p-logo{
    text-align: center;
}
.img-logo{
    width: 30%;
}
.span-nav{
    color: #ad1125;
    font-weight: bold;
}
.logo-img{
    width: 40%
    
}
.logo-p{
    text-align: center;
}
.navbar{
    background-color: white;
}